<html>
  <head>
    <title>Nook WX</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <div id="content">
        Date: {{ date }}
        <div id="periods">
            {% for wx_period in wx_periods %}
            <div class="period">
                <div class="time">{{ wx_period.time }}</div>
                <div class="wx-type">{{ wx_period.wx }}</div>
                <div class="feels-like-lbl">Feels like</div>
                <div class="temp-grp"><span class="feels-like">{{ wx_period.F }}&deg;C</span><span class="temp">({{ wx_period.T }}&deg;C)</span></div>
                <div class="precip-grp"><img src="/static/umbrella-rain.png" width="16" height="16"/><span class="precip">{{ wx_period.Pp }}%</span></div>
                <div class="humidity-grp"><img src="/static/humidity.png" width="16" height="16"/><span class="humidity">{{ wx_period.H }}%</span></div>
                <div class="uv_vis">
                    <div class="uv">
                        <div class="uv-lbl">UV</div>
                        <div class="uv-val">{{ wx_period.uv }}</div>
                    </div>
                    <div class="vis">
                        <div class="vis-lbl">Vis</div>
                        <div class="vis-val">{{ wx_period.vis }}</div>
                    </div>
                </div>
                <div class="wind-grp">
                    <span class="wind-{{ wx_period.D }}">{{ wx_period.S }}</span>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
  </body>
</html>
